body {
  background-color: purple;
}

.logo {
  background-color: rosybrown;
}

nav {
  background-color: skyblue;
}

a {
  text-decoration: none;
}

li {
  display: inline-block;
  padding: 1rem;
}

header {
  background-color: tan;
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.box {
  background-color: turquoise;
  width: 33%;
  margin: 1rem;
  padding: 1rem;
  box-shadow: 0 0 25px #222121;
}

#hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
  background: url("https://source.unsplash.com/gYZw6zF5lGQ/1600x900");
  color: orange;
}

img {
  width: 100%;
}

@media (maxwidth: 520px) {
  section {
    flex-direction: column;
  }
}
