
.icon-up:before { content: '\e800'; } /* '' */
.icon-feather:before { content: '\e801'; } /* '' */
.icon-camera-alt:before { content: '\e802'; } /* '' */
.icon-at:before { content: '\e803'; } /* '' */
.icon-facebook:before { content: '\f09a'; } /* '' */
.icon-linkedin:before { content: '\f0e1'; } /* '' */
.icon-html5:before { content: '\f13b'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-instagram:before { content: '\f16d'; } /* '' */
.icon-paper-plane:before { content: '\f1d8'; } /* '' */
.icon-comment:before { content: '\f4ac'; } /* '' */