* {
  margin: 0%;
  padding: 2px;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #fceef5;
  background-image: url("https://source.unsplash.com/KG_BfyEgXhk/1600x900");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}

hr {
  background-color: black;
  border: 1px dotted black;
}

h2,
h3 {
  color: #222831;
  font-family: "Montserrat", sans-serif;
}

.container {
  text-align: center;
}

.container h1 {
  font-family: "Montserrat", sans-serif;
  padding: 10px;
}

li {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

.herobanner {
  font-family: "Amatic SC", cursive;
  font-size: 40px;
  background-image: url("https://source.unsplash.com/yJJpSoCB5YE/1600x900");
  text-align: center;
  padding: 40px 0;
}

a {
  color: #790c5a;
  font-family: "Nanum Gothic", sans-serif;
}

p {
  color: #393e46;
  font-family: "Nanum Gothic", sans-serif;
}

img {
  height: 200px;
  width: 400px;
}

.past img {
  float: left;
  border: 3px solid black;
  margin: 10px;
}
.present img {
  float: right;
  border: 3px solid black;
  margin: 10px;
}
.future img {
  float: left;
  border: 3px solid black;
  margin: 10px;
}
.moreaboutme img {
  float: right;
  border: 3px solid black;
  margin: 10px;
}
footer {
  text-align: center;
  padding: 30px 0 10px 0;
}
