/****************General section****************/

:root {
  --main-font: "Cormorant Garamond", serif;
  --fancy-font: "Redressed", cursive;
  --light-color: #ffdef2;
  --light-color2: #f2eadf;
  --highlight-color: #f8b739;
  --text-dark-color: #222121;
  --shadow-light-color: #8a8a8a;
  --shadow-dark-color: #585555;
  --main_nav-color: #000;
  --animation-btn-color: #fa99d3;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--light-color);
  position: relative;
  color: var(--text-dark-color);
  font-family: var(--main-font);
  font-size: 1.2rem;
}

input,
textarea,
button {
  font-family: var(--main-font);
  font-weight: 600;
}

img {
  width: 200px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

h1 {
  font-weight: 300;
}

h2 {
  margin: 2rem 0;
}

p {
  margin: 1rem 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: var(--highlight-color);
}

.bg {
  background-color: var(--light-color);
  color: var(--text-dark-color);
  padding: 1rem;
}

.bg a {
  color: var(--highlight-color);
}

/****************Header area****************/

header {
  min-height: 150vh;
  text-align: center;
  background: url("https://source.unsplash.com/gYZw6zF5lGQ/1600x900") no-repeat
    fixed center center/cover;
}

/*Main Nav*/

.main_nav {
  position: fixed;
  top: 0;
  width: 100%;
  display: flex inline-block;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  background: var(--main_nav-color);
}

.main_nav .container {
  position: relative;
  padding: 1rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*Header*/

header nav ul {
  list-style-type: none;
  margin-top: 4.88vh;
}

header nav ul li {
  display: inline-block;
  padding: 0 1rem;
}

header a {
  text-decoration: none;
  color: var(--highlight-color);
}

header nav a {
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

header nav a:hover {
  color: var(--light-color);
  font-size: 2rem;
}

/*Logo*/

.logo {
  height: 100px;
  width: 100px;
}

/*Progress Bar*/

.progress-container {
  width: 100%;
  height: 5px;
  background: var(--text-dark-color);
  display: inline-block;
}

.progress-bar {
  height: 5px;
  background: var(--highlight-color);
  width: 0%;
}

/*Herobanner*/

#herobanner {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

#herobanner h2 {
  text-shadow: 5px 5px 5px pink;
  font-family: var(--fancy-font);
  font-size: 4.5rem;
  color: var(--light-color);
  padding-top: 60vh;
  text-align: center;
}
/**************** Main area ****************/

#work,
#experience,
#skills {
  padding: 50px;
  min-height: 500px;
  scroll-margin-top: 5rem;
}

/*Work*/

#work .work-boxes {
  display: flex;
  justify-content: space-between;
}

#work .box {
  background-color: var(--light-color);
  width: 25%;
  padding: 1rem;
  border-radius: 5px;
  box-shadow: 0 0 25px var(--shadow-light-color);
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

#work .box:hover {
  box-shadow: 0 0 25px var(--shadow-dark-color);
}

#work .box h3 {
  margin-bottom: 1rem;
}

#work .box img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  margin-bottom: 1rem;
}

/*Experience*/

#experience {
  background-color: var(--light-color2);
}
#experience img {
  float: left;
  margin-right: 2rem;
  height: 200px;
  width: 300px;
}

/*Skills*/

#skills img {
  float: right;
  margin-left: 2rem;
  height: 200px;
  width: 300px;
}

#skills .skills-group {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-top: 3rem;
}

.skill:nth-child(even) {
  background-color: #f2eadf;
}

.skill {
  padding: 1rem;
  box-shadow: 0 0 5px var(--shadow-dark-color);
}

/*Skills Progress*/

progress[value] {
  height: 25px;
  appearance: none;
  background: transparent;
}

progress[value]::-webkit-progress-bar {
  background-color: var(--text-dark-color);
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  -ms-border-radius: 2px;
  -o-border-radius: 2px;
  box-shadow: 0 2px 5px var(--shadow-dark-color) inset;
}

progress[value]::-webkit-progress-value {
  background: var(--highlight-color);
  border-radius: 2px;
  background-size: 35px 20px, 100% 100%, 100% 100%;
}

/****************Gallery****************/

#gallery {
  margin: 50px 0 50px 0;
}
.gallery-group {
  display: grid;
  grid-template-areas:
    "a a b b c c"
    "a a d d c c"
    "e h h h c c"
    "f h h h i i"
    "g h h h i i";
  grid-gap: 0.5rem;
  grid-template-columns: repeat(6, 1fr);
  position: relative;
}
.grid-div {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

/*Gallery Items*/

.grid-item {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.grid-item:hover {
  transform: scale(1.5);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

.grid-item-1 {
  grid-area: a;
}
.grid-item-2 {
  grid-area: b;
}
.grid-item-3 {
  grid-area: c;
}
.grid-item-4 {
  grid-area: d;
}
.grid-item-5 {
  grid-area: e;
}
.grid-item-6 {
  grid-area: f;
}
.grid-item-7 {
  grid-area: g;
}
.grid-item-8 {
  grid-area: h;
}
.grid-item-9 {
  grid-area: i;
}

/****************Resume****************/

.we-headline h1 {
  text-align: center;
  font-weight: 300;
  color: var(--text-dark-color);
  padding: 30px;
}

.we-headline h1 span {
  font-weight: 600;
}

/*Container*/

.we-container {
  width: 80%;
  padding: 50px 0;
  margin: 50px auto;
  position: relative;
  overflow: hidden;
}

.we-container:before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -1px;
  width: 2px;
  height: 100%;
  background: var(--highlight-color);
  z-index: 99;
}

/*Timeline*/

.timeline-block {
  width: calc(50% + 8px);
  display: flex;
  justify-content: space-between;
  clear: both;
}

.timeline-block-right {
  float: right;
}

.timeline-block-left {
  float: left;
  direction: rtl;
}

.marker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  border: 2px solid var(--text-dark-color);
  background: var(--highlight-color);
  margin-top: 10px;
  z-index: 99;
}

.timeline-content {
  width: 95%;
  padding: 0 15px;
  color: var(--text-dark-color);
}

.timeline-content::after {
  content: "";
  height: 3px;
  width: 0;
  display: block;
  background: var(--text-dark-color);
  transition: 1s ease-in all;
}

.timeline-content:hover::after {
  width: 100%;
}

.timeline-content h3 {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 25px;
  font-weight: 500;
}

.timeline-content span {
  font-size: 15px;
  color: var(--text-dark-color);
}

.timeline-content p {
  font-size: 14px;
  line-height: 1.5em;
  word-spacing: 1px;
  color: var(--text-dark-color);
}

/****************Animations****************/

/*Loader*/

.loadingheader {
  text-align: center;
  font-size: 4rem;
  font-family: var(--fancy-font);
  font-weight: 600;
}

.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
}
.loader {
  color: var(--highlight-color);
  font-size: 11px;
  text-indent: -99999em;
  margin: 55px auto;
  position: relative;
  width: 10em;
  height: 10em;
  box-shadow: inset 0 0 0 1em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
}
.loader:before,
.loader:after {
  position: absolute;
  content: "";
}
.loader:before {
  width: 5.2em;
  height: 10.2em;
  background: var(--light-color);
  border-radius: 10.2em 0 0 10.2em;
  top: -0.1em;
  left: -0.1em;
  -webkit-transform-origin: 5.1em 5.1em;
  transform-origin: 5.1em 5.1em;
  -webkit-animation: load2 2s infinite ease 1.5s;
  animation: load2 2s infinite ease 1.5s;
}
.loader:after {
  width: 5.2em;
  height: 10.2em;
  background: var(--light-color);
  border-radius: 0 10.2em 10.2em 0;
  top: -0.1em;
  left: 4.9em;
  -webkit-transform-origin: 0.1em 5.1em;
  transform-origin: 0.1em 5.1em;
  -webkit-animation: load2 2s infinite ease;
  animation: load2 2s infinite ease;
}
@-webkit-keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load2 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/*Return to frontpage button*/

.returnbtn {
  cursor: pointer;
  position: relative;
  padding: 10px 20px;
  background: var(--text-dark-color);
  font-size: 28px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 10px;
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.returnbtn:after,
.returnbtn:before {
  content: " ";
  width: 10px;
  height: 10px;
  position: absolute;
  border: 0px solid var(--highlight-color);
  transition: all 1s;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
}
.returnbtn:after {
  top: -1px;
  left: -1px;
  border-top: 5px solid var(--highlight-color);
  border-left: 5px solid var(--highlight-color);
}
.returnbtn:before {
  bottom: -1px;
  right: -1px;
  border-bottom: 5px solid var(--highlight-color);
  border-right: 5px solid var(--highlight-color);
}
.returnbtn:hover {
  border-top-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.returnbtn:hover:before,
.returnbtn:hover:after {
  width: 100%;
  height: 100%;
}

.data-container {
  background: var(--light-color);
  height: 30vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Neon sign*/

.sign {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0 40px 0;
}

.sign__word {
  font-size: 5rem;
  font-family: var(--fancy-font);
  text-align: center;
  color: var(--light-color);
  animation: neon 0.08s ease-in-out infinite alternate;
  -webkit-animation: neon 0.08s ease-in-out infinite alternate;
}

@keyframes neon {
  from {
    text-shadow: 0 0 6px rgba(253, 174, 253, 0.92),
      0 0 30px rgba(253, 174, 253, 0.34), 0 0 12px rgba(248, 70, 219, 0.52),
      0 0 21px rgba(248, 70, 219, 0.92), 0 0 34px rgba(248, 70, 219, 0.78),
      0 0 54px rgba(248, 70, 219, 0.92);
  }
  to {
    text-shadow: 0 0 6px rgba(253, 174, 253, 0.98),
      0 0 30px rgba(253, 174, 253, 0.42), 0 0 12px rgba(248, 70, 219, 0.58),
      0 0 22px rgba(248, 70, 219, 0.84), 0 0 38px rgba(248, 70, 219, 0.88),
      0 0 60px #f21ee7;
  }
}

/****************Footer Area****************/

footer {
  padding: 8px;
  background-color: var(--light-color2);
  color: var(--text-dark-color);
  text-align: center;
}

footer .copyright {
  margin-top: 2rem;
  font-size: 16px;
}

/*Social Media Links*/

.socialmedia {
  display: flex;
  width: 100%;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -moz-transition: all 0.4s;
  -ms-transition: all 0.4s;
  -o-transition: all 0.4s;
}

.socialmedia a {
  text-align: center;
  width: 100%;
}

.socialmedia a:hover {
  transform: scale(1.5);
  color: var(--text-dark-color);
  -webkit-transform: scale(1.5);
  -moz-transform: scale(1.5);
  -ms-transform: scale(1.5);
  -o-transform: scale(1.5);
}

/****************Form****************/

footer form {
  margin: 0 auto;
  width: 60%;
  text-align: left;
}

footer form .form-group {
  margin: 2rem 0;
  display: flex;
}

footer form label {
  width: 200px;
  display: inline-block;
  text-align: left;
}

footer form .form-group input,
footer form .form-group textarea {
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: none;
  width: 60%;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

footer form .form-group textarea {
  min-height: 100px;
}

footer form button {
  background-color: var(--highlight-color);
  text-transform: uppercase;
  border-radius: 5px;
  padding: 1rem 2rem;
  color: var(--text-dark-color);
  margin-left: 300px;
  font-size: inherit;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

/****************Back to top button****************/

#backToTop {
  display: none;
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  z-index: 99;
  border: none;
  outline: none;
  background-color: var(--text-dark-color);
  color: var(--light-color);
  cursor: pointer;
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 1rem;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#backToTop:hover {
  background-color: var(--highlight-color);
  color: var(--text-dark-color);
}
/****************Tablet support****************/

@media (max-width: 899px) {
  #work {
    display: block;
  }
  #work img {
    width: 100%;
  }
  footer form {
    width: 80%;
    text-align: left;
  }
  footer form .form-group label {
    display: block;
    margin-bottom: 0.5rem;
  }
  footer form .form-group input,
  footer form .form-group textarea,
  footer form button {
    width: 100%;
    width: 100%;
    margin: 0;
  }
  .we-container:before {
    left: 8px;
    width: 2px;
  }
  .timeline-block {
    width: 100%;
    margin-bottom: 30px;
  }
  .timeline-block-right {
    float: none;
  }

  .timeline-block-left {
    float: none;
    direction: ltr;
  }
}

/****************Mobile support****************/

@media (max-width: 576px) {
  .main_nav {
    display: block;
  }

  header nav ul {
    margin-top: 1rem;
  }
  header nav ul li {
    padding: 1rem;
  }

  #herobanner h2 {
    font-size: 2rem;
    color: var(--light-color);
    text-align: center;
  }

  .logo {
    margin: 0 auto;
  }

  #work .box h3 {
    margin-bottom: 11rem;
  }

  #work,
  #experience,
  #skills {
    padding: 1rem;
  }
  #work .work-boxes {
    display: block;
  }
  #work .box {
    width: 100%;
    margin-bottom: 1rem;
  }
  #experience img,
  #skills img {
    float: none;
    margin: 0;
    width: 100%;
  }
  footer form .form-group {
    display: block;
  }

  #backToTop {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--text-dark-color);
    color: var(--light-color);
    cursor: pointer;
    padding: 10px;
    border-radius: 50px;
    font-size: 1rem;
  }

  #myBtn:hover {
    background-color: var(--highlight-color);
    color: var(--text-dark-color);
  }
}
