:root {
    --font: "Cormorant Garamond", serif;
    --light-color: #ffdef2;
    --highlight-color: #f8b739;
    --text-dark-color: #222121;
  }
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  html {
    scroll-behavior: smooth;
  }
  
  body {
    background-color: var(--light-color);
    position: relative;
    color: var(--text-dark-color);
    font-family: var(--font);
    font-size: 1.2rem;
  }
  
  .dark-mode {
    background-color: var(--text-dark-color);
    color: var(--light-color);
  }
  
  input,
  textarea,
  button {
    font-family: var(--font);
    font-weight: 600;
  }
  
  img {
    width: 200px;
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
  }
  
  h1 {
    font-weight: 300;
  }
  
  h2 {
    margin: 2rem 0;
  }
  
  p {
    margin: 1rem 0;
    line-height: 1.5;
  }
  
  a {
    text-decoration: none;
    color: var(--highlight-color);
  }
  
  .bg {
    background-color: var(--light-color);
    color: var(--text-dark-color);
    padding: 1rem;
  }
  
  .bg a {
    color: var(--highlight-color);
  }
  
  /**************** Header area **********/
  
  header {
    min-height: 150vh;
    text-align: center;
    background: url("https://source.unsplash.com/gYZw6zF5lGQ/1600x900") no-repeat
      fixed center center/cover;
  }
  
  .main_nav {
    position: fixed;
    top: 0;
    width: 100%;
    display: flex inline-block;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    background: #000;
  }
  
  .main_nav .container {
    position: relative;
    padding: 1rem;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  header nav ul {
    list-style-type: none;
    margin-top: 4.88vh;
  }
  
  header nav ul li {
    display: inline-block;
    padding: 0 1rem;
  }
  
  header a {
    text-decoration: none;
    color: var(--highlight-color);
  }
  
  header nav a {
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  
  header nav a:hover {
    color: var(--light-color);
    font-size: 2rem;
  }
  
  .logo {
    height: 100px;
    width: 100px;
  }
  
  .progress-container {
    width: 100%;
    height: 5px;
    background: var(--text-dark-color);
    display: inline-block;
  }
  
  .progress-bar {
    height: 5px;
    background: var(--highlight-color);
    width: 0%;
  }
  
  #herobanner {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #herobanner h2 {
    text-shadow: 5px 5px 5px pink;
    font-family: "Redressed", cursive;
    font-size: 4.5rem;
    color: var(--light-color);
    padding-top: 60vh;
    text-align: center;
  }
  /*************** Main area **************/
  
  #work,
  #experience,
  #skills {
    padding: 50px;
    min-height: 500px;
    scroll-margin-top: 5rem;
  }
  
  #work .work-boxes {
    display: flex;
    justify-content: space-between;
  }
  
  #work .box {
    background-color: var(--light-color);
    width: 25%;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 0 25px #8a8a8a;
    transition: all 0.4s;
    -webkit-transition: all 0.4s;
    -moz-transition: all 0.4s;
    -ms-transition: all 0.4s;
    -o-transition: all 0.4s;
  }
  
  #work .box:hover {
    box-shadow: 0 0 25px #585555;
  }
  
  #work .box h3 {
    margin-bottom: 1rem;
  }
  
  #work .box img {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 1rem;
  }
  
  #experience {
    background: #f2eadf;
  }
  
  #skills {
    background: var(--light-color);
  }
  
  #experience img {
    float: left;
    margin-right: 2rem;
    height: 200px;
    width: 300px;
  }
  
  #skills img {
    float: right;
    margin-left: 2rem;
    height: 200px;
    width: 300px;
  }
  
  #skills .skills-group {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    text-align: center;
    margin-top: 3rem;
  }
  
  .skill:nth-child(even) {
    background-color: #f2eadf;
  }
  
  .skill {
    padding: 1rem;
    box-shadow: 0 0 5px #585555;
  }
  
  progress[value] {
    height: 25px;
    appearance: none;
    background: transparent;
  }
  
  progress[value]::-webkit-progress-bar {
    background-color: var(--text-dark-color);
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
    box-shadow: 0 2px 5px #585555 inset;
  }
  
  progress[value]::-webkit-progress-value {
    background: var(--highlight-color);
    border-radius: 2px;
    background-size: 35px 20px, 100% 100%, 100% 100%;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    -ms-border-radius: 2px;
    -o-border-radius: 2px;
  }
  
  /*Gallery*/
  
  #gallery {
    margin: 50px 0 50px 0;
  }
  .gallery-group {
    display: grid;
    grid-template-areas:
      "a a b b c c"
      "a a d d c c"
      "e h h h c c"
      "f h h h i i"
      "g h h h i i";
    grid-gap: 0.5rem;
    grid-template-columns: repeat(6, 1fr);
    position: relative;
  }
  .grid-div {
    height: 100%;
    width: 100%;
    overflow: hidden;
  }
  
  .grid-item {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .grid-item:hover {
    transform: scale(1.05);
  }
  
  .grid-item-1 {
    grid-area: a;
  }
  .grid-item-2 {
    grid-area: b;
  }
  .grid-item-3 {
    grid-area: c;
  }
  .grid-item-4 {
    grid-area: d;
  }
  .grid-item-5 {
    grid-area: e;
  }
  .grid-item-6 {
    grid-area: f;
  }
  .grid-item-7 {
    grid-area: g;
  }
  .grid-item-8 {
    grid-area: h;
  }
  .grid-item-9 {
    grid-area: i;
  }
  
  /************************Footer Area**********/
  
  footer {
    padding: 8px;
    background-color: #f2eadf;
    color: var(--text-dark-color);
    text-align: center;
  }
  
  footer .copyright {
    margin-top: 2rem;
    font-size: 16px;
  }
  
  /********************Form***********************/
  
  footer form {
    margin: 0 auto;
    width: 60%;
    text-align: left;
  }
  
  footer form .form-group {
    margin: 2rem 0;
    display: flex;
  }
  
  footer form label {
    width: 200px;
    display: inline-block;
    text-align: left;
  }
  
  footer form .form-group input,
  footer form .form-group textarea {
    padding: 0.5rem 1rem;
    border-radius: 5px;
    border: none;
    width: 60%;
    font-size: 1rem;
  }
  
  footer form .form-group textarea {
    min-height: 100px;
  }
  
  footer form button {
    background-color: var(--highlight-color);
    text-transform: uppercase;
    border-radius: 5px;
    padding: 1rem 2rem;
    color: var(--text-dark-color);
    margin-left: 300px;
    font-size: inherit;
  }
  
  /****************Back to top button*****************/
  
  #backToTop {
    display: none;
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    z-index: 99;
    border: none;
    outline: none;
    background-color: var(--text-dark-color);
    color: var(--light-color);
    cursor: pointer;
    padding: 15px 20px;
    border-radius: 5px;
    font-size: 1rem;
  }
  
  #backToTop:hover {
    background-color: var(--highlight-color);
    color: var(--text-dark-color);
  }
  /****************Tablet support*****************/
  
  @media (max-width: 899px) {
    #work {
      display: block;
    }
    #work img {
      width: 100%;
    }
    footer form {
      width: 80%;
      text-align: left;
    }
    footer form .form-group label {
      display: block;
      margin-bottom: 0.5rem;
    }
    footer form .form-group input,
    footer form .form-group textarea,
    footer form button {
      width: 100%;
      width: 100%;
      margin: 0;
    }
  }
  
  /**************** Mobile support ****************/
  
  @media (max-width: 576px) {
    .main_nav {
      display: block;
    }
  
    header nav ul {
      margin-top: 1rem;
    }
    header nav ul li {
      padding: 1rem;
    }
  
    #herobanner h2 {
      font-size: 2rem;
      color: var(--light-color);
      text-align: center;
    }
  
    .logo {
      margin: 0 auto;
    }
  
    #work .box h3 {
      margin-bottom: 11rem;
    }
  
    #work,
    #experience,
    #skills {
      padding: 1rem;
    }
    #work .work-boxes {
      display: block;
    }
    #work .box {
      width: 100%;
      margin-bottom: 1rem;
    }
    #experience img,
    #skills img {
      float: none;
      margin: 0;
      width: 100%;
    }
    footer form .form-group {
      display: block;
    }
  
    #backToTop {
      display: none;
      position: fixed;
      bottom: 100px;
      right: 20px;
      z-index: 99;
      border: none;
      outline: none;
      background-color: var(--text-dark-color);
      color: var(--light-color);
      cursor: pointer;
      padding: 10px;
      border-radius: 50px;
      font-size: 1rem;
    }
  
    #myBtn:hover {
      background-color: var(--highlight-color);
      color: var(--text-dark-color);
    }
  }
  