  body {
    background-color: #d9faff;
  }


    h1{
      color: #00204a;
    }

    h3{
      color: #00bbf0;
      text-decoration: underline;
    }

  hr{
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }
